# Data Survivor
## Anggota:
1. Alexander Patrick Surjono
2. Ramzy Mohammad
3. Retno Dewi Yulianti
4. Stella Linda Cyrilla
5. Wahyu Tri Utomo

# Spark DataFrames Project Exercise

Let's get some quick practice with your new Spark DataFrame skills, you will be asked some basic questions about some stock market data, in this case Walmart Stock from the years 2012-2017. This exercise will just ask a bunch of questions, unlike the future machine learning exercises, which will be a little looser and be in the form of "Consulting Projects", but more on that later!

For now, just answer the questions and complete the tasks below.

#### Use the walmart_stock.csv file to Answer and complete the  tasks below!

#### Start a simple Spark Session

In [ ]:
# Setting up the PySpark environment

# Install java 8
!apt-get update
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

# Download Apache Spark binary: This link can change based on the version. Update this link with the latest version before using
!wget -q https://downloads.apache.org/spark/spark-3.1.2/spark-3.1.2-bin-hadoop3.2.tgz

# Unzip file
!tar -xf spark-3.1.2-bin-hadoop3.2.tgz

# Install findspark: Adds Pyspark to sys.path at runtime
!pip install -q findspark

# Install pyspark
!pip install pyspark

# Add environmental variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.2-bin-hadoop3.2"

# findspark will locate spark in the system
import findspark
findspark.init()

Get:1 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Get:2 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Ign:3 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Get:4 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease [15.9 kB]
Ign:5 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:6 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release
Hit:7 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Hit:8 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:9 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Hit:10 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Get:11 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [2,294 kB]
Hit:12 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Get:13 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Hit:14 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Get:16 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,424 kB]
Get:18 http://security.ubuntu.com/ubuntu bionic-security/restricted amd64 Packages [543 kB]
Get:19 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main Sources [1,794 kB]
Get:20 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main amd64 Packages [918 kB]
Get:21 http://archive.ubuntu.com/ubuntu bionic-updates/restricted amd64 Packages [575 kB]
Get:22 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [2,730 kB]
Get:23 http://archive.ubuntu.com/ubuntu bionic-updates/multiverse amd64 Packages [34.4 kB]
Get:24 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,199 kB]
Fetched 12.8 MB in 3s (3,720 kB/s)
Reading package lists... Done
Collecting pyspark
  Downloading pyspark-3.1.2.tar.gz (212.4 MB)
     |████████████████████████████████| 212.4 MB 70 kB/s
Collecting py4j==0.10.9
  Downloading py4j-0.10.9-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 57.5 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.1.2-py2.py3-none-any.whl size=212880768 sha256=28d737b3d5cce141253db982dbe19eb6f4fdfcee61d396065b202b90f6a6f531
  Stored in directory: /root/.cache/pip/wheels/a5/0a/c1/9561f6fecb759579a7d863dcd846daaa95f598744e71b02c77
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.1.2

In [ ]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
        .master("local") \
        .appName("Hands-on PySpark on Google Colab") \
        .getOrCreate()

Mount to GDrive

In [ ]:
from google.colab import drive
drive.mount('/drive',force_remount=True)

Mounted at /drive

#### Load the Walmart Stock CSV File, have Spark infer the data types.

In [ ]:
filepath = "/drive/MyDrive/Iykra/PySpark/Practice Case/Task 1/walmart_stock.csv"
spark_df = spark.read.format('csv').options(header='true', inferSchema='true').load(filepath)

#### What are the column names?

In [ ]:
print(spark_df.columns)

['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Adj Close']

#### What does the Schema look like?

In [ ]:
spark_df.printSchema()

root
 |-- Date: string (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Volume: integer (nullable = true)
 |-- Adj Close: double (nullable = true)

#### Print out the first 5 columns.

In [ ]:
spark_df.show(5, truncate=False)

+----------+------------------+---------+---------+------------------+--------+------------------+
|Date      |Open              |High     |Low      |Close             |Volume  |Adj Close         |
+----------+------------------+---------+---------+------------------+--------+------------------+
|2012-01-03|59.970001         |61.060001|59.869999|60.330002         |12668800|52.619234999999996|
|2012-01-04|60.209998999999996|60.349998|59.470001|59.709998999999996|9593300 |52.078475         |
|2012-01-05|59.349998         |59.619999|58.369999|59.419998         |12768200|51.825539         |
|2012-01-06|59.419998         |59.450001|58.869999|59.0              |8069400 |51.45922          |
|2012-01-09|59.029999         |59.549999|58.919998|59.18             |6679300 |51.616215000000004|
+----------+------------------+---------+---------+------------------+--------+------------------+
only showing top 5 rows

#### Use describe() to learn about the DataFrame.

In [ ]:
spark_df.describe().show()

+-------+----------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+
|summary|      Date|              Open|             High|              Low|            Close|           Volume|        Adj Close|
+-------+----------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+
|  count|      1258|              1258|             1258|             1258|             1258|             1258|             1258|
|   mean|      null| 72.35785375357709|72.83938807631165| 71.9186009594594|72.38844998012726|8222093.481717011|67.23883848728146|
| stddev|      null|  6.76809024470826|6.768186808159218|6.744075756255496|6.756859163732991|  4519780.8431556|6.722609449996857|
|    min|2012-01-03|56.389998999999996|        57.060001|        56.299999|        56.419998|          2094900|        50.363689|
|    max|2016-12-30|         90.800003|        90.970001|            89.25|        90.470001|         80898100|84.91421600000001|
+-------+----------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+

## Bonus Question!
#### There are too many decimal places for mean and stddev in the describe() dataframe. Format the numbers to just show up to two decimal places. Pay careful attention to the datatypes that .describe() returns, we didn't cover how to do this exact formatting, but we covered something very similar.

If you get stuck on this, don't worry, just find the way :)

In [ ]:
#Libraries
from pyspark.sql import functions as F
from pyspark.sql.functions import round, col
from pyspark.sql import types
from pyspark.sql.types import DoubleType

In [ ]:
describe= spark_df.describe()
describe.printSchema()

root
 |-- summary: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- Open: string (nullable = true)
 |-- High: string (nullable = true)
 |-- Low: string (nullable = true)
 |-- Close: string (nullable = true)
 |-- Volume: string (nullable = true)
 |-- Adj Close: string (nullable = true)

In [ ]:
#Since the describe dataframe contains string value, we should convert the datatype from string to double
changedTypedf = describe.withColumn("Date", describe["Date"].cast(DoubleType()))
changedTypedf = describe.withColumn("Open", describe["Open"].cast(DoubleType()))
changedTypedf = describe.withColumn("High", describe["High"].cast(DoubleType()))
changedTypedf = describe.withColumn("Low", describe["Low"].cast(DoubleType()))
changedTypedf = describe.withColumn("Close", describe["Close"].cast(DoubleType()))
changedTypedf = describe.withColumn("Volume", describe["Volume"].cast(DoubleType()))
changedTypedf = describe.withColumn("Adj Close", describe["Adj Close"].cast(DoubleType()))

In [ ]:
changedTypedf.show(5, truncate=False)

+-------+----------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+
|summary|Date      |Open              |High             |Low              |Close            |Volume           |Adj Close        |
+-------+----------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+
|count  |1258      |1258              |1258             |1258             |1258             |1258             |1258.0           |
|mean   |null      |72.35785375357709 |72.83938807631165|71.9186009594594 |72.38844998012726|8222093.481717011|67.23883848728146|
|stddev |null      |6.76809024470826  |6.768186808159218|6.744075756255496|6.756859163732991|4519780.8431556  |6.722609449996857|
|min    |2012-01-03|56.389998999999996|57.060001        |56.299999        |56.419998        |2094900          |50.363689        |
|max    |2016-12-30|90.800003         |90.970001        |89.25            |90.470001        |80898100         |84.91421600000001|
+-------+----------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+

In [ ]:
df3 = changedTypedf.withColumn("Open", F.round(changedTypedf["Open"], 2))
df3 = df3.withColumn("High", F.round(df3["High"], 2))
df3 = df3.withColumn("Low", F.round(df3["Low"], 2))
df3 = df3.withColumn("Close", F.round(df3["Close"], 2))
df3 = df3.withColumn("Volume", F.round(df3["Volume"], 2))
df3 = df3.withColumn("Adj Close", F.round(df3["Adj Close"], 2))
df3.show()

+-------+----------+------+------+------+------+----------+---------+
|summary|      Date|  Open|  High|   Low| Close|    Volume|Adj Close|
+-------+----------+------+------+------+------+----------+---------+
|  count|      1258|1258.0|1258.0|1258.0|1258.0|    1258.0|   1258.0|
|   mean|      null| 72.36| 72.84| 71.92| 72.39|8222093.48|    67.24|
| stddev|      null|  6.77|  6.77|  6.74|  6.76|4519780.84|     6.72|
|    min|2012-01-03| 56.39| 57.06|  56.3| 56.42| 2094900.0|    50.36|
|    max|2016-12-30|  90.8| 90.97| 89.25| 90.47| 8.08981E7|    84.91|
+-------+----------+------+------+------+------+----------+---------+

#### Create a new dataframe with a column called HV Ratio that is the ratio of the High Price versus volume of stock traded for a day.

In [ ]:
#Create new df named spark_df2
copy_col=spark_df.columns
spark_df2=spark_df.select(copy_col)
spark_df2.show(5, truncate=False)

+----------+------------------+---------+---------+------------------+--------+------------------+
|Date      |Open              |High     |Low      |Close             |Volume  |Adj Close         |
+----------+------------------+---------+---------+------------------+--------+------------------+
|2012-01-03|59.970001         |61.060001|59.869999|60.330002         |12668800|52.619234999999996|
|2012-01-04|60.209998999999996|60.349998|59.470001|59.709998999999996|9593300 |52.078475         |
|2012-01-05|59.349998         |59.619999|58.369999|59.419998         |12768200|51.825539         |
|2012-01-06|59.419998         |59.450001|58.869999|59.0              |8069400 |51.45922          |
|2012-01-09|59.029999         |59.549999|58.919998|59.18             |6679300 |51.616215000000004|
+----------+------------------+---------+---------+------------------+--------+------------------+
only showing top 5 rows

In [ ]:
#create HV Ratio column
spark_df2.withColumn("HV Ratio", F.col("High")/F.col("Volume")).show(5)

+----------+------------------+---------+---------+------------------+--------+------------------+--------------------+
|      Date|              Open|     High|      Low|             Close|  Volume|         Adj Close|            HV Ratio|
+----------+------------------+---------+---------+------------------+--------+------------------+--------------------+
|2012-01-03|         59.970001|61.060001|59.869999|         60.330002|12668800|52.619234999999996|4.819714653321546E-6|
|2012-01-04|60.209998999999996|60.349998|59.470001|59.709998999999996| 9593300|         52.078475|6.290848613094555E-6|
|2012-01-05|         59.349998|59.619999|58.369999|         59.419998|12768200|         51.825539|4.669412994783916E-6|
|2012-01-06|         59.419998|59.450001|58.869999|              59.0| 8069400|          51.45922|7.367338463826307E-6|
|2012-01-09|         59.029999|59.549999|58.919998|             59.18| 6679300|51.616215000000004|8.915604778943901E-6|
+----------+------------------+---------+---------+------------------+--------+------------------+--------------------+
only showing top 5 rows

#### What day had the Peak High in Price?

In [ ]:
#Peak High Price: max High value
print("Peak (Max) High Value in Price:")
spark_df.groupby().max('High').show()

print("Day with Peak High:")
spark_df.select('Date').filter(F.col('High')==90.970001).show()

Peak (Max) High Value in Price:
+---------+
|max(High)|
+---------+
|90.970001|
+---------+

Day with Peak High:
+----------+
|      Date|
+----------+
|2015-01-13|
+----------+

#### What is the mean of the Close column?

In [ ]:
spark_df.groupBy().mean('Close').show()

+-----------------+
|       avg(Close)|
+-----------------+
|72.38844998012726|
+-----------------+

#### What is the max and min of the Volume column?

In [ ]:
#maximum
spark_df.groupBy().max('Volume').show()

+-----------+
|max(Volume)|
+-----------+
|   80898100|
+-----------+

In [ ]:
#minimum
spark_df.groupBy().min('Volume').show()

+-----------+
|min(Volume)|
+-----------+
|    2094900|
+-----------+

#### How many days was the Close lower than 60 dollars?

In [ ]:
spark_df.filter(F.col("Close") < 60).count()

81

#### What percentage of the time was the High greater than 80 dollars ?
#### In other words, (Number of Days High>80)/(Total Days in the dataset)

In [ ]:
(spark_df.filter(F.col("High") > 80).count())/(spark_df.count())*100

9.141494435612083

#### What is the Pearson correlation between High and Volume?

In [ ]:
spark_df.corr('High', 'Volume')

-0.3384326061737161

Based on the correlation value, it means that High is inversely proportional to Volume, but High and Volume variable aren't strongly correlated.

#### What is the max High per year?

In [ ]:
spark_df.groupby(F.year('Date')).max('High').show()

+----------+---------+
|year(Date)|max(High)|
+----------+---------+
|      2015|90.970001|
|      2013|81.370003|
|      2014|88.089996|
|      2012|77.599998|
|      2016|75.190002|
+----------+---------+

#### What is the average Close for each Calendar Month?
#### In other words, across all the years, what is the average Close price for Jan,Feb, Mar, etc... Your result will have a value for each of these months.

In [ ]:
spark_df.groupby(F.month('Date')).mean('Close').show()

+-----------+-----------------+
|month(Date)|       avg(Close)|
+-----------+-----------------+
|         12|72.84792478301885|
|          1|71.44801958415842|
|          6| 72.4953774245283|
|          3|71.77794377570092|
|          5|72.30971688679247|
|          9|72.18411785294116|
|          4|72.97361900952382|
|          8|73.02981855454546|
|          7|74.43971943925233|
|         10|71.57854545454543|
|         11| 72.1110893069307|
|          2|  71.306804443299|
+-----------+-----------------+

# Great Job!

### Additional: Check day of week for each transaction to make sure if the transactions just happened in weekdays

In [ ]:
from pyspark.sql.functions import dayofweek
spark_df3=spark_df.withColumn("day_of_week",dayofweek(spark_df.Date))
spark_df3.show()

+----------+------------------+------------------+------------------+------------------+--------+------------------+-----------+
|      Date|              Open|              High|               Low|             Close|  Volume|         Adj Close|day_of_week|
+----------+------------------+------------------+------------------+------------------+--------+------------------+-----------+
|2012-01-03|         59.970001|         61.060001|         59.869999|         60.330002|12668800|52.619234999999996|          3|
|2012-01-04|60.209998999999996|         60.349998|         59.470001|59.709998999999996| 9593300|         52.078475|          4|
|2012-01-05|         59.349998|         59.619999|         58.369999|         59.419998|12768200|         51.825539|          5|
|2012-01-06|         59.419998|         59.450001|         58.869999|              59.0| 8069400|          51.45922|          6|
|2012-01-09|         59.029999|         59.549999|         58.919998|             59.18| 6679300|51.616215000000004|          2|
|2012-01-10|             59.43|59.709998999999996|             58.98|59.040001000000004| 6907300|         51.494109|          3|
|2012-01-11|         59.060001|         59.529999|59.040001000000004|         59.400002| 6365600|         51.808098|          4|
|2012-01-12|59.790001000000004|              60.0|         59.400002|              59.5| 7236400|51.895315999999994|          5|
|2012-01-13|             59.18|59.610001000000004|59.009997999999996|59.540001000000004| 7729300|51.930203999999996|          6|
|2012-01-17|         59.869999|60.110001000000004|             59.52|         59.849998| 8500000|         52.200581|          3|
|2012-01-18|59.790001000000004|         60.029999|         59.650002|60.009997999999996| 5911400|         52.340131|          4|
|2012-01-19|             59.93|             60.73|             59.75|60.610001000000004| 9234600|         52.863447|          5|
|2012-01-20|             60.75|             61.25|         60.669998|61.009997999999996|10378800|53.212320999999996|          6|
|2012-01-23|         60.810001|             60.98|60.509997999999996|             60.91| 7134100|         53.125104|          2|
|2012-01-24|             60.75|              62.0|             60.75|61.389998999999996| 7362800| 53.54375400000001|          3|
|2012-01-25|             61.18|61.610001000000004|61.040001000000004|         61.470001| 5915800| 53.61353100000001|          4|
|2012-01-26|         61.799999|             61.84|             60.77|         60.970001| 7436200|         53.177436|          5|
|2012-01-27|60.860001000000004|         61.119999|60.540001000000004|60.709998999999996| 6287300|         52.950665|          6|
|2012-01-30|         60.470001|             61.32|         60.349998|         61.299999| 7636900|53.465256999999994|          2|
|2012-01-31|         61.529999|             61.57|         60.580002|61.360001000000004| 9761500|53.517590000000006|          3|
+----------+------------------+------------------+------------------+------------------+--------+------------------+-----------+
only showing top 20 rows

In [ ]:
spark_df3.groupby('day_of_week').count().show()
#day_of_week between 2 to 6: all transactions only happened in Monday to Friday

+-----------+-----+
|day_of_week|count|
+-----------+-----+
|          6|  252|
|          3|  258|
|          5|  253|
|          4|  258|
|          2|  237|
+-----------+-----+